<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Is Hockey on TV?</h1>
      <p>Navigating the labyrinth that is the Rogers NHL broadcast contract is annoying. Simply select your cable provider and find out what channel number your game of choice is on.</p>
      <% if (teams) { -%>
      <p class="pull-left">Filter by team:
        <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
          <option>Showing: &nbsp; <%= team || 'All' %></option>
          <option value="/?provider=<%= provider %>">All</option>
          <% teams.forEach(function(t) { %>
          <option value="/?team=<%= t %>&provider=<%= provider %>"><%= t %></option>
          <% }) %>
        </select>
      </p>
      <% } -%>
      <p class="pull-right">
        <a href="mailto:ishockeyontv@gmail.com?subject=Provider suggestion" class="small">Suggest a provider</a> &nbsp; 
        <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
          <option>Selected: <%= provider %></option>
          <% providers.forEach(function(p) { %>
          <option value="/?provider=<%= p %><% if (teams && team) { %>&team=<%=team %><% } %>"><%= p %></option>
          <% }) %>
        </select>
      </p>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Time</th>
            <th>Home</th>
            <th>Away</th>
            <th>Broadcast</th>
            <th>Channel Number</th>
          </tr>
        </thead>
        <% var day = 0; %>
        <% games.forEach(function(game) { -%>
        <% if (!game.home || !game.away) { return } %>
        <% if (team && !(game.home === team || game.away === team)) { return } %>
        <% var current = new Date(game.date).getDate(); %>
        <% if (current !== day) { %>
        <tr>
          <td colspan="6" class="small"><strong><%= game.date %></strong></td>
        </tr>
        <% } %>
        <tr>
          <td><%= game.time %></td>
          <td><%= game.home %></td>
          <td><%= game.away %></td>
          <td><%= game.tvInfo %></td>
          <% var channels = game.channels && game.channels[provider]; %>
          <% if (channels === undefined) { %>
          <td>-</td>
          <% } else if (Array.isArray(channels)) { %>
          <td>Regional: <%= channels.join(',') %></td>
          <% } else if (channels === null) { %>
          <td>N/A</td>
          <% } else { %>
          <td><%= channels %></td>
          <% } %>
        </tr>
        <% day = current %>
        <% }) -%>
      </table>
    </div>
  </body>
</html>
